<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="refresh" content="5; URL=/">
    <title>uptime</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="flex flex-col items-center m-8">
     {{#STATUS_DOWN}}
      <section class="flex flex-row items-center">
        <div style="width: 20px; height: 20px; margin-right: 10px; border-radius: 10px" class="bg-red-500"></div>
        <h1 class="text-3xl font-bold">
          System Status <span class="text-red-500">Failing</span>
        </h1>
      </section>
      {{/STATUS_DOWN}}

     {{#STATUS_UP}}
      <section class="flex flex-row items-center">
        <div style="width: 20px; height: 20px; margin-right: 10px; border-radius: 10px" class="bg-green-500"></div>
        <h1 class="text-3xl font-bold">
          System Status <span class="text-green-500">Operational</span>
        </h1>
      </section>
      {{/STATUS_UP}}

      <p class="text-gray-500 text-sm mt-2">Last Ping {{LAST_PING}}</p>

      <section class="container max-w-3xl mt-16">
        <div class="grid grid-cols-1 gap-8">

          {{#services}}
          <div class="rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <a href="{{url}}" target="_blank" class="font-bold text-xl mb-1 hover:text-blue-500">
                    {{name}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                  </a>

                  <div class="text-sm text-gray-500 mb-4">{{url}}</div>
                </div>

                <div class='text-right'>
                  {{#statusDown}}
                  <div class="font-normal text-md mb-1 text-red-500 text-right">
                    Failed
                  </div>
                  {{/statusDown}}
                  {{#statusUp}}
                  <div class="font-normal text-md mb-1 text-green-500 text-right">
                    Operational
                  </div>
                  {{/statusUp}}

                  {{#statusDown}}
                  <div class="font-bold text-md text-red-500">{{uptimePercentage}} %</div>
                  {{/statusDown}}
                  {{#statusUp}}
                  <div class="font-bold text-md text-green-500">{{uptimePercentage}} %</div>
                  {{/statusUp}}

                </div>
              </div>
              <div class="grid gap-1 mb-4" style="grid-template-columns: repeat(60, minmax(0, 1fr));">
                {{#pings}}
                  {{#statusUp}}
                  <div style="height: 30px" class="bg-green-500 hover:bg-green-600 rounded"></div>
                  {{/statusUp}}
                  {{#statusDown}}
                  <div style="height: 30px" class="bg-red-500 hover:bg-red-600 rounded"></div>
                  {{/statusDown}}
                  {{#statusUnknown}}
                  <div style="height: 30px" class="bg-gray-300 hover:bg-gray-400 rounded"></div>
                  {{/statusUnknown}}
                {{/pings}}
              </div>

              <div class="grid grid-cols-3 gap-8 text-center">
                <div>
                  <p class="text-sm text-gray-500">Latency min.</p>
                  <p class="font-medium">{{LATENCY_MIN}}ms</p>
                </div>
                <div>
                  <p class="text-sm text-gray-500">Latency max.</p>
                  <p class="font-medium">{{LATENCY_MAX}}ms</p>
                </div>
                <div>
                  <p class="text-sm text-gray-500">Latency avg.</p>
                  <p class="font-medium">{{LATENCY_AVG}}ms</p>
                </div>
              </div>
            </div>
          </div>
          {{/services}}

        </div>
      </section>
    </main>
  </body>
</html>
